<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {{ content_for_header }}
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
</head>
<body style="margin:0;background:#0d0720;color:#d5d8de">
  {{ content_for_layout }}
  {% section 'footer-basic' %}
</body>
</html>
