<section style="min-height:20vh;display:grid;place-items:center;background:#1a1033;color:#d5d8de;padding:24px;text-align:center">
  <div>
    <h1 style="margin:0">FluxRetail</h1>
    <p style="margin:.5rem 0 1rem 0">Multiverse of Retail</p>
    <a href="/collections/all" style="border:1px solid currentColor;padding:.5rem 1rem;text-decoration:none">Browse</a>
  </div>
</section>
{% section 'featured-products-grid' %}
